* {
    margin: 0;
    padding: 0;
}

h2 {
    color: white;
}


.div_logo {
    background-color: rgb(23, 23, 58);
    width: 100%;
    height: 140px;
    display: flex;
    /* justify-content: center; */
    gap: 900px;
    align-items: center;
}

.car_logo {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    /* background-color: white; */
    margin-left: 20px;
}

.header_ul {
    display: flex;
    justify-content: center;
    gap: 100px;
}

ul li {
    list-style: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    /* color: darkmagenta; */
    font-size: large;
    font-weight: 800;
}

a:hover {
    border: 2px solid rgb(204, 0, 255);
    border-top: none;
    border-left: none;
    border-right: none;
}


.call {
    width: 30px;
    height: 30px;
}




.li_div{
    margin: 50px;
    margin-bottom: o;
    margin-right: 0;
}


/* foter */


footer {
    background-color:rgb(23, 23, 58);
    padding: 20px 0;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer-container div {
    border: 2px solid rgba(119, 0, 119, 0.836); /* Border rangi */
    border-width: 3px; /* Borderning qalinligi */
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: 200px;
}

.footer-logo img {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}

.footer-info, .footer-location {
    font-size: 16px;
    color: #333;
}